body {
  margin: 0;
  font-family: 'Akshar', sans-serif;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.font-link {
  font-family: 'Poppins', cursive;
}

code {
  font-family: 'Akshar', sans-serif;
  font-family: 'Poppins', sans-serif;
}
